body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* Index page image */
.logo img {
    max-height: 60px;
    padding-left: 150px;
    width: 230px;
}

.hero img {
    width: 100%;
    height: 140vh;
    margin: 0;
    border: 1px solid rgb(22, 22, 94);
}

.hero-buttons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    padding: 70%;
    gap: 20px; 
}

.hero-buttons .btn {
    padding: 20px 20px;
    width: 200px;
    font-size: 20px;
    color: rgb(22, 22, 94);
    background-color: rgba(207, 206, 205, 0.541); 
    border: 4px solid rgba(250, 248, 246, 0.922);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-buttons .btn:hover {
    background-color: rgb(22, 22, 94); 
    border: none;
    color: white;
}

main {
    padding: 20px;
    padding-bottom: 0;
}

/* ------------------------Navbar CSS (for all pages) ------------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.navbar {
    display: flex;
    gap: 50px;
    padding-right: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
    text-decoration: none;
    color: rgb(53, 52, 52);
    font-size: 20px;
    font-weight: normal;
}

.navbar a:hover {
    color: orange;
}

.navbar a.active {
    color: orange; 
}

/* Responsive Navbar */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 20px; /* Adjust width of the toggle bar */

}

.menu-toggle .bar {
    width: 25px; /* Adjust width of each bar */
    height: 3px;
    background-color: #888; /* Gray color for the bars */
    margin: 4px 0;
    transition: 0.4s;
}



.content {
    text-align: center;
    margin-bottom: 40px;
}

.content h1 {
    color: rgb(22, 22, 94);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.content p {
    color: rgb(22, 22, 94);
    line-height: 1.5;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.center-button {
    color: rgb(22, 22, 94);
    background-color: #ffffff9e;
    border: 3px solid rgb(22, 22, 94);
    padding: 10px 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.center-button:hover {
    color: #f0f0f0;
    background-color: rgb(22, 22, 94);
}
.supply img {
    width: 100%;
    height: 80vh;
    margin: 0;
    border: 1px solid rgb(22, 22, 94);
}

.image-cover-section {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    padding-bottom: 20px;
}

.image-cover-section .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.749);
    justify-content: left;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.text-overlay h1{
    text-align: center;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(22, 22, 94);
    font-weight: bolder;
    text-align: left;
}
.text-overlay p {
    margin-right: 10px;
    color: rgb(22, 22, 94); /* Text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 80px;
    text-align: left;
}

footer {
    background-color: rgb(22, 22, 94);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links, footer .contact {
    flex: 1;
}

footer .links a{
    color: rgb(120, 117, 117);
    text-decoration: none;
}

footer .links a:hover{
    text-decoration: underline;
}

footer .links p{
    padding-top: 0;
    color: white;
    font-weight: bold;
}

footer .contact a {
    margin: 5px 0;
    color: rgb(120, 117, 117);
    text-decoration: none;
}

footer .contact a:hover{
    text-decoration: underline;
}

footer .contact p{
    color: white;
    margin: 5px 0;
    padding-top: 10px;
    font-weight: bold;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
max-height: 30px;
max-width: 20px;
}

footer img {
    padding-left: 20px;
    height: 60px;
    width: 160px;
} 

.about {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.642);
    padding-top: 30px;
    height: 600px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.about h2 {
    color: rgb(22, 22, 94);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.about p {
    color: rgb(22, 22, 94);
    line-height: 1.5;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.about .slideshow {
    position: relative;
    width: 500px;
    height: 400px; /* Increased height */
    overflow: hidden;
    margin: 0 auto;
}

.about .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.about .slide {
    min-width: 100%;
    height: 400px;
}

.about .slide img {
    width: 100%;
    height: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    border: 2px solid rgb(22, 22, 94);
    border-radius: 0;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

.applycontent {
    text-align: center;
    margin-bottom: 40px;
}
.card-content {
    display: flex;
    width: 100%;
}

.card-image {
    flex: 0 0 50%;
    margin-right: 20px;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px 0 0 10px; */
}

.card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h3 {
    font-size: 30px;
    margin: 0 0 10px;
    color: rgb(22, 22, 94);
    font-weight: normal;
    padding-top: 70px;
    padding-bottom: 20px;
}

.card p {
    font-size: 16px;
    margin: 0 0 20px;
    color: rgb(22, 22, 94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bcontainer {
    padding-bottom: 155px;
}

.centerb {
    color: rgb(22, 22, 94);
    background-color: #ffffff9e;
    border: 3px solid rgb(22, 22, 94);
    padding: 10px 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.centerb:hover {
    color: #f0f0f0;
    background-color: rgb(22, 22, 94);
}

.privacy {
    text-align: center;
    background-color: rgb(22, 22, 94);
    padding-top: 20px;
    height: 150px;
}

.privacy h1 {
    color: white;
    font-size: 30px;
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.privContent {
    text-align: left;
    background-color: white;
    height: 760px;
}

.privContent h2 {
    color: rgb(22, 22, 94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-left: 20px;
}

.privContent p {
    color: black;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 17px;
}



/* Responsiveness for tablet (768px) */
@media (max-width: 768px) {

/* Home page */
    .logo img {
        max-height: 250px;
        padding-left: 220px;
        width: 300px;
    }

    .hero img{
        height: 100vh;
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 40%; 
        height: 100%;
        background-color: #464343bf; 
        padding-top: 60px;
        gap: 30px;
        padding-right: 0;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .navbar a {
        text-align: center;
        padding: 10px;
        color: white;
    }

    footer {                           
        flex-direction: column;
        text-align: center;
        font-size: 10px;
        padding: 10px;
    }

    footer img{
        padding-bottom: 5px;
    }

    .text-overlay h1{
         font-size: 20px;
    }
    .text-overlay p{
        font-size: 14px;
    }

    .image-cover-section {
        position: relative;
        width: 100%;
        height: 45vh; 
        overflow: hidden;
        padding-bottom: 20px;
    }

        .card {
        flex-direction: column;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .card-content {
        flex-direction: column;
    }

    .card-image {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .card-details {
        flex: none;
        width: 100%;
    }

    .card h3 {
        font-size: 24px;
        margin: 0 0 10px;
    }

    .card p {
        font-size: 14px;
        margin: 0 0 10px;
    }

    .bcontainer {
        padding-bottom: 20px;
    }

    .centerb {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Responsiveness for small mobile devices (375px-498px) */
@media (min-width: 375px) and (max-width: 498px) {

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
    }

    .container {
        padding: 0 10px;
    }

    .logo img {
        max-height: 45px;
        width: 100%; 
        padding-left: 80px;
    }

    .hero img{
        width: 100%;
        height: 60vh;
        margin: 0;
        border: 1px solid rgb(23,23,103);
    }

    .navbar {
        display: none; 
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%; 
        height: 100%;
        background-color: #464343bf; 
        padding-top: 60px;
        gap: 20px;
        padding-right: 0;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .navbar a {
        text-align: center;
        padding: 8px;
        color: white;
        font-size: 14px;
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        padding: 8px;
        width: 95.4%;
    }

    footer img {
        padding-bottom: 3px;
        max-width: 100%; 
        padding-left: 15px;
        padding-right: 15px;
    }

    .text-overlay h1 {
        font-size: 18px;
    }

    .text-overlay p {
        font-size: 14px;
    }

    .content h1{
        font-size: 30px;
        font-weight: normal;
    }

    .content p{
        font-size: 17px;
    }

    .center-button {
        padding: 5px 20px;
        font-size: 20px;
    }

    .text-overlay h1{
        font-size: 15px;
        text-align: left;
    }

    .text-overlay p{
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
    }

    .image-cover-section {
        position: relative;
        width: 100%;
        height: 60vh; 
        overflow: hidden;
        padding-bottom: 20px;
    }

    .card {
        flex-direction: column;
        width: 93%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .card-content {
        flex-direction: column;
    }

    .card-image {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .card-details {
        flex: none;
        width: 100%;
    }

    .card h3 {
        font-size: 24px;
        margin: 0 0 10px;
    }

    .card p {
        font-size: 14px;
        margin: 0 0 10px;
    }

    .bcontainer {
        padding-bottom: 20px;
    }

    .centerb {
        font-size: 14px;
        padding: 8px 16px;
    }

    .about {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Allow the height to adjust based on content */
    }

    .about .slideshow {
        width: 100%;
        height: 300px; /* Adjust the height of the slideshow */
        order: -1; /* Move slideshow to the top */
    }

    .about h2 {
        font-size: 30px; /* Smaller font size for the heading */
    }

    .about p {
        font-size: 16px; /* Smaller font size for the paragraph */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .privContent{
        height: 1000px;
    }

    .privContent h2{
        font-size: 19px;
    }

    .privContent p{
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card{
        max-width: 90%;
    }
}

/* Responsiveness for mobile (320px nd below) */
@media (min-width: 320px) and (max-width: 374px) 
{
    .container {
        padding: 0 10px;
    }

    .logo img {
        max-height: 40px;
        width: 100%; 
        padding-left: 40%;
    }

    .hero img{
        width: 100%;
        height: 50vh;
        margin: 0;
        border: 1px solid rgb(23,23,103);
    }

    .navbar {
        display: none; 
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 60%; 
        height: 100%;
        background-color: #464343bf; 
        padding-top: 60px;
        gap: 20px;
        padding-right: 0;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .navbar a {
        text-align: center;
        padding: 8px;
        color: white;
        font-size: 14px;
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        padding: 8px;
        width: 96%;
    }

    footer img {
        padding-bottom: 3px;
        max-width: 100%; 
        padding-left: 15px;
        padding-right: 15px;
    }

    .text-overlay h1 {
        font-size: 14px;
    }

    .text-overlay p {
        font-size: 10px;
    }

    .content h1{
        font-size: 22px;
        font-weight: normal;
    }

    .content p{
        font-size: 13px;
    }

    .center-button {
        padding: 5px 20px;
        font-size: 14px;
    }

    .text-overlay h1{
        font-size: 13px;
        text-align: left;
    }

    .text-overlay p{
        font-size: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .image-cover-section {
        position: relative;
        width: 100%;
        height: 60vh; 
        overflow: hidden;
        padding-bottom: 20px;
    }

    
    .about {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Allow the height to adjust based on content */
        width:100%;
        padding-right: 0;
    }

    .about .slideshow {
        width: 100%;
        height: 250px; /* Adjust the height of the slideshow */
        order: -1; /* Move slideshow to the top */
    }

    .about h2 {
        font-size: 20px; /* Smaller font size for the heading */
    }

    .about p {
        font-size: 15px; /* Smaller font size for the paragraph */
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }


    .privContent{
        height: 880px;
    }

    .privContent h2{
        font-size: 17px;
    }

    .privContent p{
        font-size: 13px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .card{
        max-width: 90%;
    }
}
